$colorInputBackground :  #fffff0;   //master: fffff0 YisusJoe: f8ebb4
$colorInputBorder : #e5dfa1;        //master: e5dfa1 YisusJoe: FFE86F

.mainContainer {

    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;

    background-color: gainsboro;
    // border: 1px solid red;
}

.loginContainer {

    display: inherit;
    flex-direction: column;
    justify-content: space-around;

    height: 350px;
    width: 500px;
    padding: 0 15px 0 15px;

    background-color: white;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

    // border: 1px solid red;
    border-radius: 15px;
}

.loginHead {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.loginHead img {

    height: 55px;
    width: 55px;
}

.loginHead p {

    padding: 0;
    margin: 0;
    font-size: 30px;
    color: #016db6;
}

.loginDatos div {

    display: flex;
    flex-direction: column;
    margin-top: 10px;
    // border: 1px solid red;
}

.loginDatos input {

    background-color: $colorInputBackground;
    border: 2px solid $colorInputBorder;
    border-radius: 5px;
}

.loginDatos input:focus {
    
    background-color: lighten($colorInputBackground, 2%);
    border-color: $colorInputBorder !important;
    outline: none;
    box-shadow: 0 0 10px 2px $colorInputBackground;
}

.loginContainer button {

    width: 100%;
}

