<div class="mainContainer">
    <form class="loginContainer">

        <div class="loginHead" style="border-bottom: 1px solid black;">
            <div>
                <img src="../../assets/plato.png" alt="">
            </div>
            <div>
                <p>Comedor Coppel</p>
            </div>
        </div>
        <div class="loginDatos">
            <div>
                <label>RFC:</label>
                <input type="text" required>
            </div>
            <div>
                <label>CONTRASEÑA:</label>
                <input type="text" required>
            </div>
        </div>
        <div>
            <button class="btn btn-primary">Entrar</button>
        </div>

    </form>
</div>