<div class="mainContainer">
    <form class="loginContainer" #loginForm = "ngForm" (ngSubmit)="iniciarSecion(loginForm)">

        <div class="loginHead" style="border-bottom: 1px solid black;">
            <div>
                <img src="../../assets/images/comedorCoppel.png" alt="">
            </div>
            <div>
                <p>Comedor Coppel</p>
            </div>
        </div>
        <div class="loginDatos">
            <div>
                <label>RFC:</label>
                <input type="text" name="rfcInput" required style="padding-left: 10px;" ngModel>
            </div>
            <div>
                <label>CONTRASEÑA:</label>
                <input type="password" name="passInput" required style="padding-left: 10px;" ngModel>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Iniciar Seción</button>
        </div>

    </form>
</div>