<div class="containerMenuHorizontal" style="position: fixed;width:100%;z-index:1000">

    <!-- MENU HORIZONTAL -->
    <div class="ui top attached menu inverted">

        <div class="item" style="padding:2px;position:initial;">
            <img src="../../assets/images/logo_coppel.png" style="width: 120px;">
        </div>
    
        <div class="item empresa">
            Administrador de comedores
        </div>
    
        <div class="item left empleado">
            Nombre de usuario - Rol de usuario
        </div>
    
        <div class="item icons">
    
            <button type="button" title="Salir" style="border-radius:3px;background:#E8E7E7;border:none;padding:5px;">
                <img src="../../assets/images/power.png">
            </button>
        </div>
    </div>
    <!-- ################################################## -->

    <!-- MENU VERTICAL -->
    <!-- <div class="menu-vertical" style="border: 1px solid ridge">
        <div class="container" style="padding: 0">
            <div class="title" style="white-space: nowrap; font-size: 12px; font-family: Arial, Helvetica, sans-serif; display: flex; align-items: center;justify-content: center;">Menú de Módulos </div>
            <div class="item" align="center" style="width: 100%;" ng-repeat="modulo in menu.empleado.modulos" ng-click="menu.cambiarModulo(modulo)">
                <div class="image">
                  <img src="./app/assets/images/{{modulo.nom_imagen}}">
                  <img src="../../assets/images/documento.png">
                  <br>
                  <label align="center">{{modulo.nom_modulo}}</label>
                  <label align="center" style="color:black;font-size: 12px;font-weight: bold;">Catálogos</label>
                </div>
            </div>
            <div class="item" align="center" style="width: 100%;" ng-repeat="modulo in menu.empleado.modulos" ng-click="menu.cambiarModulo(modulo)">
                <div class="image">
                  <img src="./app/assets/images/{{modulo.nom_imagen}}">
                  <img src="../../assets/images/configuracion.png">
                  <br>
                  <label align="center">{{modulo.nom_modulo}}</label>
                  <label align="center" style="color:black;font-size: 12px;font-weight: bold;">Configuración</label>
                </div>
            </div>
            <div class="item" align="center" style="width: 100%;" ng-repeat="modulo in menu.empleado.modulos" ng-click="menu.cambiarModulo(modulo)">
                <div class="image">
                  <img src="./app/assets/images/{{modulo.nom_imagen}}">
                  <img src="../../assets/images/cajero.png">
                  <br>
                  <label align="center">{{modulo.nom_modulo}}</label>
                  <label align="center" style="color:black;font-size: 12px;font-weight: bold;">Operación</label>
                </div>
            </div>
            <div class="item" align="center" style="width: 100%;" ng-repeat="modulo in menu.empleado.modulos" ng-click="menu.cambiarModulo(modulo)">
                <div class="image">
                  <img src="./app/assets/images/{{modulo.nom_imagen}}">
                  <img src="../../assets/images/reportes.png">
                  <br>
                  <label align="center">{{modulo.nom_modulo}}</label>
                  <label align="center" style="color:black;font-size: 12px;font-weight: bold;">Reportes</label>
                </div>
            </div>
        </div>
    </div> -->
    <!-- ################################################## -->
    
</div>